.header{
    display: flex;
    
    justify-content: space-between;
    flex: 1;
    padding: 12px;
    position:  relative;
    align-items: center;
}
.menu{
    
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.web-menu{
    display: flex;
}
.mobile-menu{
    display: none;
}
.logo{
    display: flex;
    font-size: 40px;
    color: #015C92;
    font-weight: 900;
}

@media only screen and (max-width: 720px){
    .mobile-menu{
        display: flex;
    }
    .web-menu{
        display: none;
    }
    .logo{
        font-size: 24px;
    }
}

